@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.caixa{
    border: 1px solid black;
}

div.valor,.res{
    height: 50px;
    margin: 10px 10px 20px;
}

div > label,input{
    display: block;
}
div > input{
    width: 100%;
    background-color: aliceblue;
    height: 40px;
    border-radius: 5px;
}

button{
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}